* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-center h1 {
    color: #323b4b;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 35px;
}

.text-center p {
    color: #8a94a6;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 90px;
}
