* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.text-center {
    text-align: center;
}

.text-center h1 {
    color: #323b4b;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 35px;
}

.text-center p {
    color: #8a94a6;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 90px;
}

.service {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 32px;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 15px;
}

.service > img {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
}

.service-section__rectangles h2 {
    color: #323b4b;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 21px;
}

.service-section__rectangles p {
    color: #8a94a6;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

@media (max-width: 1325px) {
    .text-center h1 {
        font-size: 42px;
        line-height: 60px;
    }
    .text-center p {
        font-size: 16px;
    }
    .service-section__rectangles h2 {
        font-size: 24px;
    }
    .service-section__rectangles p {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .text-center {
        text-align: start;
    }
    .text-center h1 {
        font-size: 36px;
        line-height: 50px;
    }
}
