/* Header */

.header {
    height: 133px;
    justify-content: flex-end;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
}

.navigation__links {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 412.5px;
}

.navigation__links li a {
    color: #8a94a6;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.logo {
    height: 54px;
    margin-right: auto;
}

.navigation__actions {
    display: flex;
    align-items: center;
    margin-left: 61.5px;
}

.get-started__button {
    background-color: #377dff;
    border-radius: 10px;
    border: none;
    width: 179px;
    height: 57px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}