/* Header */

.layout {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

@media (min-width: 1600px) {
    .layout {
        max-width: 1560px;
    }
}

@media (max-width: 800px) {
    .layout {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (max-width: 550px) {
    .layout {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.header_wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
}

.logo {
    height: 54px;
    margin-right: auto;
    cursor: pointer;
}

.navigation {
    display: flex;
}

.navigation__links {
    display: flex;
    align-items: center;
    gap: 22px;
}

.navigation__links li {
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.navigation__links li a {
    color: #8a94a6;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.get-started__button {
    background-color: #377dff;
    border-radius: 10px;
    border: none;
    padding: 16px 34px;
    color: #ffffff;
    font-size: 20px;
    margin-left: 26px;
    cursor: pointer;
}

.hamburger-button {
    display: none;
    flex-direction: column;
    gap: 6px;
}

.stick {
    width: 30px;
    border: 2px solid #b0b7c3;
    border-radius: 3px;
}

@media (max-width: 1325px) {
    .logo {
        height: 40px;
    }
    .navigation__links li a {
        font-size: 16px;
    }
    .get-started__button {
        padding: 12px 24px;
        font-size: 16px;
    }
}

@media (max-width: 1023px) {
    .navigation {
        display: none;
    }
    .get-started__button {
        display: none;
    }
    .hamburger-button {
        display: flex;
    }
}

/* Hero Section */

.hero-section__container {
    padding-top: 124px;
    padding-bottom: 124px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-section__left {
    width: 50%;
}

.hero-section__left h1 {
    color: #323b4b;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 33px;
    font-weight: 700;
}

.hero-section__left :nth-child(2) {
    color: #8a94a6;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
}

.opening_text_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 35px;
    cursor: pointer;
    width: max-content;
}

.opening_text {
    font-size: 20px;
    line-height: 24px;
    color: #377dff;
    font-weight: 600;
}

.opening_text_wrapper img {
    width: 20px;
    height: 20px;
}
.hero-section__right {
    width: 50%;
}

.hero-section__right img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1325px) {
    .hero-section__left h1 {
        font-size: 42px;
        line-height: 60px;
    }
    .hero-section__left :nth-child(2) {
        font-size: 16px;
    }
    .opening_text {
        font-size: 16px;
    }
    .opening_text_wrapper img {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 1023px) {
    .hero-section__container {
        flex-direction: column-reverse;
    }
    .hero-section__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-section__right {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .hero-section__left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: start;
    }

    .hero-section__left h1 {
        font-size: 36px;
        line-height: 50px;
    }
}

/* Service Section */

#service-section {
    background-color: #fafbfc;
}

.service-section__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-section__top {
    margin-bottom: 80px;
}

.service-section__4rectangles {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
}

@media (max-width: 900px) {
    .service-section__4rectangles {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
}

/* Find your job section */

.findyourjob-section__container {
    padding-top: 135px;
    padding-bottom: 135px;
    display: flex;
    align-items: center;
    gap: 70px;
}

.findyourjob-section__left {
    width: 50%;
}

.findyourjob-section__right {
    width: 50%;
}

.findyourjob-section__left img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.findyourjob-section__right h1 {
    color: #323b4b;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 31px;
}

.findyourjob-section__right p {
    color: #8a94a6;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
}

@media (max-width: 1325px) {
    .findyourjob-section__right h1 {
        font-size: 42px;
        line-height: 60px;
    }
    .findyourjob-section__right p {
        font-size: 16px;
    }
}

@media (max-width: 1023px) {
    .findyourjob-section__container {
        flex-direction: column;
    }
    .findyourjob-section__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .findyourjob-section__left {
        width: 100%;
    }
}

@media (max-width: 425px) {
    .findyourjob-section__right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: start;
    }

    .findyourjob-section__right h1 {
        font-size: 36px;
        line-height: 50px;
    }
}

/* Free Vacancy Section */

#freevacancy-section {
    background-color: #fafbfc;
}

.freevacancy-section__container {
    /* padding: 110px 280px; */
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.freevacancy-section__middle {
    width: 100%;
    margin-bottom: 55px;
}

.freevacancy-section__info {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding: 0 32px;
    margin-bottom: 21px;
}

.boxes__container {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.box {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding: 46px 32px;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    background-color: #ffffff;
    border-radius: 16px;
}

.freevacancy-section__middle h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #323b4b;
}

.freevacancy-section__middle h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323b4b;
}

.freevacancy-section__middle p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #8a94a6;
}

.resume-btn {
    background-color: #e5f1ff;
    padding: 22px 105px;
    border: none;
    border-radius: 10px;
    color: #377dff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
}

/* Message Section */

.message-section__cotainer {
    /* padding: 110px 280px; */
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-section__middle {
    width: 100%;
    margin-bottom: 60px;
}

.message_inputs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 32px;
    margin-bottom: 44px;
}

.message_inputs input,
.message-section__middle textarea {
    width: 100%;
    padding: 22px 0 22px 26px;
    font-size: 20px;
    line-height: 24px;
    border-radius: 10px;
    border: 2px solid #e1e3e6;
}

.message_inputs input::placeholder,
.message-section__middle textarea::placeholder {
    color: #b0b7c3;
}

.message-section__bottom {
    display: flex;
    gap: 40px;
}

.checkbox_wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.checkbox_wrapper input {
    width: 20px;
    height: 20px;
}

.checkbox_wrapper label {
    color: #8a94a6;
    font-size: 20px;
    line-height: 24px;
}

.message-section__bottom button {
    padding: 22px 110px;
    font-size: 20px;
    line-height: 24px;
    border: none;
    color: #fff;
    background-color: #377dff;
    border-radius: 10px;
    cursor: pointer;
}

/* Contact Section */

#contact-section {
    background-color: #fafbfc;
}

.contact-section__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.contact-section__3rectangles {
    display: flex;
    align-items: center;
    gap: 32px;
}

/* Footer Section */

.footer-section__container {
    padding-top: 130px;
    padding-bottom: 130px;
}

.footer-section__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.footer-section__info {
    display: flex;
    gap: 140px;
}

.footer-section__left img {
    cursor: pointer;
}

.footer-section__left p {
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #8a94a6;
    margin-top: 27px;
    margin-bottom: 27px;
}

.footer_links {
    display: flex;
    flex-direction: column;
}

.footer_links li {
    list-style-type: none;
}

.footer_links a {
    font-weight: 500;
    font-size: 20px;
    line-height: 45px;
    color: #8a94a6;
}

.footer-section__info h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #323b4b;
    margin-bottom: 27px;
}

.footer-section__copyright p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8a94a6;
}

.socials-pics {
    display: flex;
    gap: 20px;
}
