/* Header */

.header {
    height: 133px;
    justify-content: flex-end;
}

.navigation {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
}

.navigation__links {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 412.5px;
}

.navigation__links li a {
    color: #8a94a6;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}

.logo {
    height: 54px;
    margin-right: auto;
}

.navigation__actions {
    display: flex;
    align-items: center;
    margin-left: 61.5px;
}

.get-started__button {
    background-color: #377dff;
    border-radius: 10px;
    border: none;
    width: 179px;
    height: 57px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

/* Hero Section */

.hero-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;

    display: flex;
    align-items: center;
    margin-top: 40px;
}

.hero-section__left {
    width: 50%;
}

.hero-section__left h1 {
    color: #323b4b;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 33px;
    font-weight: 700;
}

.hero-section__left :nth-child(2) {
    color: #8a94a6;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 35px;
    font-weight: 500;
}

.hero-section__left :last-child {
    font-size: 20px;
    line-height: 24px;
    color: #377dff;
    font-weight: 600;
}

.hero-section__right {
    width: 50%;
    padding-top: 15px;
}

.hero-section__right img {
    width: 100%;
    height: 100%;
}

/* Hero Section */

.hero-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;

    display: flex;
    align-items: center;
    margin-top: 40px;
}

.hero-section__left {
    width: 50%;
}

.hero-section__left h1 {
    color: #323b4b;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 33px;
    font-weight: 700;
}

.hero-section__left :nth-child(2) {
    color: #8a94a6;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 35px;
    font-weight: 500;
}

.hero-section__left :last-child {
    font-size: 20px;
    line-height: 24px;
    color: #377dff;
    font-weight: 600;
}

.hero-section__right {
    width: 50%;
    padding-top: 15px;
}

.hero-section__right img {
    width: 100%;
    height: 100%;
}

/* Service Section */

.service-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;

    background-color: #fafbfc;
}

.service-section__top {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.service-section__top h1 {
    color: #323b4b;
    font-weight: 700;
    font-size: 60px;
    line-height: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.service-section__top p {
    color: #8a94a6;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 75px;
}

.service-section__4rectangles {
    display: flex;
    margin-top: 81px;
    gap: 32px;
    margin-bottom: 62px;
}

.service-section__left {
    width: 50%;
}

.service-section__right {
    width: 50%;
}

.full-social-package {
    background-color: #ffffff;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 15px;
    margin-bottom: 37px;
}

.free-meals {
    background-color: #ffffff;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 15px;
}

.equipped-workplace {
    background-color: #ffffff;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 15px;
    margin-bottom: 37px;
}

.game-room {
    background-color: #ffffff;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 15px;
}

.service-section__4rectangles img {
    padding-left: 31px;
    padding-top: 32px;
    margin-bottom: 30px;
}

.service-section__4rectangles h2 {
    color: #323b4b;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 21px;
    padding-left: 31px;
}

.service-section__4rectangles p {
    color: #8a94a6;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    padding-left: 31px;
    padding-bottom: 21px;
}

/* Find your job section */

.findyourjob-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
    display: flex;
    align-items: center;
}

.findyourjob-section__left {
    max-width: 50%;
}

.findyourjob-section__left img {
    width: 100%;
    height: auto;
}

.findyourjob-section__right {
    max-width: 50%;
    margin-left: 90px;
}

.findyourjob-section__right h1 {
    color: #323b4b;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 31px;
}

.findyourjob-section__right p {
    color: #8a94a6;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
}

/* Free Vacancy Section */

.freevacancy-section__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px;
    background-color: #fafbfc;
}

.freevacancy-section__top {
    width: 100%;
    text-align: center;
}

.freevacancy-section__top h1 {
    color: #323b4b;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 35px;
    margin-top: 45px;
}

.freevacancy-section__top p {
    color: #8a94a6;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 90px;
}

.freevacancy-section__info {
    margin: 0 auto;
    margin-bottom: 21px;
    display: flex;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    display: flex;
    justify-content: space-between;
    height: 115px;
    width: 880px;
    align-items: center;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0px 50px 77px rgba(176, 183, 195, 0.22);
    border-radius: 15px;
    margin-bottom: 37px;
}

.h3-position {
    padding-left: 220px;
    margin-right: 320px;
}

.h3-department {
    margin-right: 95px;
}

.h4-box {
    padding-left: 32px;
}

.p-box1 {
    margin-left: 70px;
}

.p-box2 {
    margin-left: 120px;
}

.p-box3 {
    margin-left: 38px;
}

.p-box4 {
    margin-left: 120px;
}

.box-1 :last-child {
    padding-right: 60px;
}

.box-2 :last-child {
    padding-right: 60px;
}

.box-3 :last-child {
    padding-right: 98px;
}

.box-4 :last-child {
    padding-right: 60px;
}

.freevacancy-section__middle h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #323b4b;
}

.freevacancy-section__middle h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #323b4b;
}

.freevacancy-section__middle p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #8a94a6;
}

.freevacancy-section__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-btn {
    background-color: #e5f1ff;
    width: 630px;
    height: 66px;
    border: none;
    border-radius: 10px;
    color: #377dff;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    margin-top: 55px;
    margin-bottom: 55px;
}
